<div class="container-fluid">
	<h1 class="mat-h1">Game Recap:</h1>
	<mat-tab-group animationDuration="2400ms">
		<mat-tab label="Justin wrote:">
			<div class="section"></div>
			<div class="example-small-box mat-elevation-z4">
				"Barking up the wrong tree"
			</div>
		</mat-tab>
		<mat-tab label="Marc drew:">
			<div class="section"></div>
			<div class="example-large-box mat-elevation-z4">
				"Image of Barking Up The Wrong Tree"
			</div>
		</mat-tab>
		<mat-tab label="Katlin wrote:">
			<div class="section"></div>
			<div class="example-small-box mat-elevation-z4">
				"Dog stuck in a tree"
			</div>
		</mat-tab>
		<mat-tab label="Lindsey drew:">
			<div class="section"></div>
			<div class="example-large-box mat-elevation-z4">
				"Image of Dog stuck in a tree"
			</div>
		</mat-tab>
		<mat-tab label="Result:">
			<div class="compare">
				<div class="example-large-box mat-elevation-z4">
					"Image of Barking Up The Wrong Tree"
				</div>
				<div class="example-large-box mat-elevation-z4">
					"Image of Dog stuck in a tree"
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>