<mat-toolbar color="primary">
	<mat-toolbar-row>
		<h1><a routerLink="">Material Practice</a></h1>
		<span class="example-fill-remaining-space"></span>
		<span class="menu"><a href="login-screen">Login Screen</a></span>
		<span class="menu"><a href="select-player">Select Player</a></span>
		<span class="menu"><a href="select-time">Select Time</a></span>
		<span class="menu"><a href="game-recap">Game Recap</a></span>
		<span class="menu"><a href="forms">Forms</a></span>
		<span class="menu"><a href="menus">Menus</a></span>
	</mat-toolbar-row>
	<mat-toolbar-row>
		<h1><a routerLink="">Animations Practice</a></h1>
		<span class="example-fill-remaining-space"></span>
	</mat-toolbar-row>
</mat-toolbar>
<div class="section"></div>
<div class="container-fluid">
	<router-outlet></router-outlet>
</div>