<div class="container-fluid">
  <div class="example-container">
    <h1 class="mat-h1" style="text-align: center">Welcome!</h1>
    <mat-form-field>
      <input matInput placeholder="Email Address">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password">
    </mat-form-field>
    <div class="block">
      <button mat-stroked-button color="primary" (click)="open()">Sign In</button>
      <button mat-stroked-button color="primary">Create Account</button>
    </div> 
  </div>
</div>